.join-wrapper {
    input {
        display: block;
    }
    
    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .error {
        color: red;
    }
}
